{% extends 'base.html.twig' %}

{% block title 'HomePage'%}

{% block stylesheets %}

{% endblock %}


{% block body %}

<h1>Status Page</h1>


<p><a class="btn btn-primary btn-lg" href="statusCheck" role="button">Test connection &raquo;</a></p>

<br>
<br>

<p><a class="btn btn-primary btn-lg" href="mongoPrint" role="button">Afficher la base MongoDB</a></p>


{% endblock %}

{% block javascripts %}{% endblock %}
