{% extends 'base.html.twig' %}

{% block title 'HomePage'%}

{% block stylesheets %}

{% endblock %}


{% block body %}

    <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Application Web Communes</h1>
      <p>L'objectif du projet est de créer une application web Symfony 4 qui va collecter
      les données sur https://adresse.data.gouv.fr/data/ban/adresses/latest/addok/ pour les intégrer dans une base MongoDB.</p>
      <p>Cette application devra aussi proposer : </p>
      <p><ul>Une page d'upload de fichiers, pour mettre à jour la base</ul></p>
      <p><ul>Une page permettant de voir vérifier la connection à la base</ul></p>
      <p><ul>Une page proposant un web service permettant de rechercher une communes, afficher les informations concernant une commune et d'afficher les communes d'un département</ul></p>
      <p><ul>Et une dernière page permettant de rechercher une commune et de l'afficher sur une carte via open street map</ul></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col">
        <h2>Upload</h2>
        <p>Pour mettre à jour la base MongoDB</p>
        <p><a class="btn btn-primary btn-lg" href="upload" role="button">Cliquez ici &raquo;</a></p>
      </div>
      <div class="col">
        <h2>Status</h2>
        <p>Pour vérifier la connection avec la base</p>
        <p><a class="btn btn-primary btn-lg" href="status" role="button">Cliquez ici &raquo;</a></p>
      </div>
      <div class="col">
        <h2>Webservice</h2>
        <p>Pour accéder au Webservice</p>
        <p><a class="btn btn-primary btn-lg" href="communes" role="button">Cliquez ici &raquo;</a></p>
      </div>
      <div class="col">
        <h2>Search</h2>
        <p>Pour rechercher et afficher une commune sur une carte</p>
        <p><a class="btn btn-primary btn-lg" href="search" role="button">Cliquez ici &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

{% endblock %}

{% block javascripts %}{% endblock %}
