{% extends 'base.html.twig' %}

{% block title 'HomePage'%}

{% block stylesheets %}

{% endblock %}


{% block body %}


<h1>Web Service</h1>



{% endblock %}

{% block javascripts %}{% endblock %}
