{% extends 'base.html.twig' %}

{% block title 'HomePage'%}

{% block stylesheets %}

{% endblock %}


{% block body %}


    <h1> Mise à jour </h1>
    
    <br>

    <p><a class="btn btn-primary btn-lg" href="mongoCreation" role="button">Ajouter le fichier ndjson complet (1 fois) &raquo;</a></p>

    <br>
    <br>

    Cliquez sur ce bouton pour télécharger le fichier que vous souhaitez :

    <br>

    <a class="btn btn-primary btn-lg" href="https://adresse.data.gouv.fr/data/ban/adresses/latest/addok/"> Télécharger </a>
    
    <br>
    <br>
{#     Insérer le fichier à envoyer :
    <br>
    <form method="POST" action="upload.php" enctype="multipart/form-data">
        <input type="file" name="avatar">
        <input type="submit" name="envoyer" value="Envoyer le fichier">
    </form> #}
    <br>
    <br>




{% endblock %}

{% block javascripts %}{% endblock %}
