{% extends 'base.html.twig' %}

{% block title 'HomePage'%}

{% block stylesheets %}

{% endblock %}


{% block body %}


<h1> Rechercher une communes </h1>

<br>

{#
clear le cache: php bin/console cache:pool:clear cache.global_clearer
#}

{{ render(controller(
    'App\\Controller\\FormController::searchBar'
)) }}

{#{{form_start(form)}}#}

    {{form(form)}}

{#{{form_end(form)}}#}

{#, {'method': 'GET'}#}

{% endblock %}

{% block javascripts %}{% endblock %}
